*{ margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box; }

.main-frame{ position:relative; width:100%; }

.skills-frame{
  position:relative;
}

.skills-frame__skill-section__skill-logo{
      position:relative;
      width:150px; height:150px;
      background-color:rgb(0,0,0);
      border-radius:50%;
      margin:0 auto;
    }

.skills-frame__skill-section__skill-logo img{
        height:90px;
        position:absolute; top:50%; left:50%;
        -webkit-transform:translate(-50%,-50%);
                transform:translate(-50%,-50%);
      }
