*{ margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box; }

// @media(min-width:415px){}

.main-frame{
	position:relative;
	width:100%;
	/*height:500vh;*/
}

.head-frame{
	width:100%; height:100vh;
	position:relative;

}

.head-frame__title{
		position:absolute; left:.25rem;
		font-family: 'Open Sans', sans-serif;
		font-size:2.25rem;
		color:rgb(235,235,240);
	}

.head-frame__title.first{
		bottom:calc(50% + 2.25rem);
	}

.head-frame__title.first::before{content:'Christopher';}

.head-frame__title.second{
		bottom:50vh;
	}

.head-frame__subtitle{
		position:absolute;
		font-family: 'Open Sans', sans-serif;
		font-size:1.6rem;
		right:.25rem;
		color:rgb(60,60,60);
	}

.head-frame__subtitle.first{
		top:50%;
	}

.head-frame__subtitle.second{
		top:calc(50% + 1.6rem);
	}

.head-frame__bg-block{
		width:100%; height:50vh;
		position:absolute; left:0;
		z-index:-1;
	}

.head-frame__bg-block.black{
		top:0;
		background-color:rgb(60,60,60);
	}

.head-frame__bg-block.white{
		bottom:0;
		background-color:rgb(235,235,240);
	}

@media(min-width:415px){

		.head-frame__title{
			left:auto;
			font-size:5rem;
			top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);
		}
		.head-frame__title.first{
			color:rgb(235,235,240);
			right:50.5%;
			bottom:auto;
		}
		.head-frame__title.first::before{content:'Chris';}
		.head-frame__title.second{
			color:rgb(60,60,60);
			left:50.1%;
			bottom:auto;
		}

		.head-frame__subtitle{
			right:auto;
			font-size:2rem;
			top:auto; bottom:25%; -webkit-transform:translateY(25%); transform:translateY(25%);
		}
		.head-frame__subtitle.first{
			color:rgb(235,235,240);
			right:50.3%;
			top:auto;
		}
		.head-frame__subtitle.second{
			color:rgb(60,60,60);
			left:50.3%;
			top:auto;
		}

		.head-frame__bg-block{
			width:50%; height:100vh;
			top:0;
		}
		.head-frame__bg-block.black{
			left:0;
			background-color:rgb(60,60,60);
		}
		.head-frame__bg-block.white{
			right:0;
			background-color:rgb(235,235,240);
		}
	}

.skills-frame{
	width:100%;
	background-color:rgb(190,205,215);
	color:rgb(60,60,60);
}

.skills-frame__title{
		font-family: 'Open Sans', sans-serif;
		font-size:1.65rem; line-height:3rem;
	}

.skills-frame__subtitle{
		font-family: 'Open Sans', sans-serif; font-weight:400;
		font-size:1.3rem; line-height:2rem;
	}

.skills-frame__text{
		font-family: 'Roboto', sans-serif;
		line-height:1.32rem;
	}

.skills-frame__skill-section{}