// @media(min-width:415px){}

.head-frame{
	width:100%; height:150vw;
	position:relative;
	background-image:url(../../assets/images/head-sm.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top;
	background-attachment:fixed;
	/*background-color:gainsboro;*/

	@media(min-width:415px){
		width:100%; height:100vh;
		/*background-color:lightskyblue;*/
	}

	&__text-content{
		font-family: 'Special Elite', cursive;
		position:absolute; top:50%; left:0;
		width:100%;
		/*background-color:rgba(10,10,10,.35);*/
		padding:15px 0;
		transform:translateY(-50%);
		text-align:center;
		color:rgb(75,90,175);
		/*text-shadow:2.3px -1.7px 0px white;*/
	}
	&__title{
		font-size:2.25rem;
		line-height:3.5rem;
	}
	&__subtitle{
		font-size:1.5rem;
	}

}