.skills-frame{
	width:100%;
	background-color:darkslategrey;
	color:azure;

	&__skill-section{
		padding:1.25rem 0;

		&__text{
			font-family: 'Roboto', sans-serif;
			line-height:1.3rem;
			padding:.5rem 0;
			color:rgb(210,210,210);
		}
	}
	&__title{
		font-family: 'Open Sans', sans-serif;
		font-size:1.65rem; line-height:3rem; letter-spacing:1.25px;
	}
	&__subtitle{
		font-family: 'Open Sans', sans-serif; font-weight:400;
		font-size:1.3rem; line-height:2rem;
		color:rgb(210,210,210);
	}
}