.skills-frame{
	width:100%;
	background-color:darkslategrey;
	color:azure;

	&__skill-section{
		padding:1.25rem 0;

		&__text{
			font-family: 'Roboto', sans-serif;
			line-height:1.3rem;
			padding:.5rem 0;
		}
	}
	&__title{
		font-family: 'Open Sans', sans-serif;
		font-size:1.75rem; line-height:3rem; letter-spacing:1.5px;
	}
}